<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        title Repartidores disponibles
    body
        h1(style="text-align: center;") Bienvenido al servidor de repartidores
        div(style="background-color: lightblue;")
            h1(style="text-align: center;") ---

        div(style="text-align: center;" class="container")
            h1 Lista de Repartidores disponibles

            table(class="table")
                thead
                    tr(class="table-primary")
                        th(scope="col" style="text-align: center;") Codigo
                        th(scope="col" style="text-align: center;") Nombre
                tbody
                    for repartidor in repartidores
                        tr 
                            td #{repartidor.codigo}
                            td #{repartidor.name}